# eclipse
bin
*.launch
.settings/*
.metadata
.classpath
.project
eclipse/*

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run/*
classes

/README.txt
/forge-*-changelog.txt

secret.json
