/README.txt
/.classpath
/bin/*
/.gradle/*
/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history/*
/eclipse/.metadata/*.dat
/eclipse/.metadata/*.tree
/eclipse/.metadata/*.index
*.index
*~

/classes/*
/.idea/*
/build/*
