<?xml version="1.0" encoding="UTF-8" standalone="no"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication"><stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GradleStartServer"/><stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Mineralogy"/><stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/skyblade1978/git/MinecraftMineralogy/run"/><stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="nogui"/><stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dfml.doNotBackup=true -Dfml.queryResult=confirm -Dlog4j.skipJansi=true -DFORGE_FORCE_FRAME_RECALC=true"/></launchConfiguration>